.msgs-List-ul {
  width: 100%;
  height: 100%;

  background: inherit;

}

.msgs-Item {
  width: fit-content;
  block-size: fit-content;
  
  display: flex;
  align-items: center;

  @include mobile {
    & {
      font-size: 48px;
    }
  }
  
  @include tablet {
    & {
      font-size: 24px;
    }
  }
  
  @include desktop {
    & {
      font-size: 16px;
    }
  }

  &:hover {
    .msgs-Item-button {
      display: initial;
    }
  }

  .msgs-Item-text {
    color: $default-background-color;
    background: $msg-color;
  
    padding: 6px;
  
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: 1rem;
    
    &::selection {
      color: red;
      background: $msg-color;
    }
  
    &:active {
      background: darken($msg-color, 10%);
    }
  
  }

  .msgs-Item-button { 
    width: 24px;
    height: inherit;
    color: #ffffffb4;
    background: transparent;
  
    display: none;
  }

}


.msgs-Input {
  @include mobile {
    & {
      height: 120px;
    }
  }
  
  @include tablet {
    & {
      height: 80px;
    }
  }
  
  @include desktop {
    & {
      height: 40px;
    }
  }

  position: fixed;
  left: 0px;
  bottom: 0px;

  display: flex;
  width: 100%;

  border: 1px solid black;
  background: darken($default-background-color, 10%);

  z-index: 10;

  box-sizing: border-box;



  .msgs-Input-textarea {
    position: static;
    border: 1px solid black;
  
    font-size: 16px;
    width: 100%;
    height: inherit;
    resize: none;
  
    justify-content: center;
    overflow-y: auto;
  
    background: inherit;
    color: white;
  
    &:focus {
      outline: none;
    }
  
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: white;
    }
    &::-webkit-scrollbar-track {
      background-color: grey;
    }
  }
  
  .msgs-Input-button {
    position: static;
    left: 0px;
    border: 1px solid black;
  
    width: 120px;
    height: 100%;
  
    background: white;
  }
}

